/* Amazon card Link*/
.amazon-widget{
  /* write something */
}

.linkwrap{
  display: flex;
}

.amazon-widget-img{
  display: block;
  width: 150px;
  height: auto;
}

.amazon-widget-info{
  width: 100%;
}

.amazon-widget-title{
  font-size: 20px;
  padding: 15px 0px;
  border-bottom: dotted 2px #dcdcdc;
}

.amazon-widget-author{
  font-size: 14px;
}

.amazon-widget-date{
  font-size: 14px;
}

.amazon-widgit-comment{
  font-size: 10px;
}

.prev-and-next{
  color: $text-color;
  font-style: $primary_font;
  font-size: 14px;

  &:hover{
    color: $primary-color;
  }
}

.prev-page{
  display: block;
  float: left;
}

.next-page{
  display: block;
  float: right;
}
