<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}ja{{ end }}">
<head>
	{{ partial "head.html" . }}
	{{ partialCached "style.html" . }}
</head>

<body>
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}

    <section class="banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 mx-auto text-center">
							<img src="images/404.png" class="w-100" alt="404 error">
              <h3 class="mb-3">お探しのページは本の海に消えました…</h3>
              <p class="mb-4">{{ i18n "error404" }}</p>
							<a href="/" title="Go to TOP" class="btn btn-primary mb-4">つみぼんトップページへ</a>
            </div>
          </div>
        </div>
      </section>

	{{- partial "footer.html" . -}}
</body>

</html>
