{{ $tag := .Site.Params.amazon.associate_id }}
{{ $asin := .Get "asin" }}
{{ $title := .Get "title" }}
{{ $bookAuthor := .Get "bookAuthor" }}
{{ $publishDate := .Get "publishDate" }}
{{ $comment := .Get "comment" }}

<div class="amazon-widget" href="https://www.amazon.co.jp/gp/product/{{ $asin }}/?tag={{ $tag }}">
  <a class="linkwrap shadow rounded-lg p-1 w-100" href="https://www.amazon.co.jp/gp/product/{{ $asin }}/?tag={{ $tag }}" width="48%" target="_blank" rel="noopener noreferrer">
    <div class="amazon-widget-img mt-4 ml-3 h-75">
      <img src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN={{ $asin }}&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL350_&tag={{ $tag }}" />
    </div>
    <div class="amazon-widget-info mt-2 mx-4">
      <div class="amazon-widget-title font-weight-bold">{{ $title }}</div>
      <div class="amazon-widget-author my-1">著者：{{ $bookAuthor }}</div>
      <div class="amazon-widget-date my-1">発売日：{{ $publishDate }}</div>
      <div class="amazon-widgit-comment mt-3">{{ $comment }}</div>
    </div>
  </a>
</div>
