{{ $url := .Get "url" }}
{{ $inout := .Get "inout"}}
{{ $position := .Get "position"}}

{{ $var := "left" }}
{{ if eq $position "center"}}
  {{ $var = "text-center" }}
{{ else if eq $position "right" }}
  {{ $var = "text-right"}}
{{ else }}
  {{ $var = "text-left" }}
{{ end }}

<div class="text-left {{ $var }}">
  {{ if eq $inout "out"}}
  <a href="{{ $url }}" target="_blank" rel="noopener noreferrer">
    <div class="btn btn-outline-lightgray">
      {{ .Inner }}
    </div>
  </a>
  {{ else }}
  <a href="{{ $url }}">
    <div class="btn btn-outline-lightgray">
      {{ .Inner }}
    </div>
  </a>
  {{ end }}
</div>
